<a href="https://colab.research.google.com/github/20255A0507/JSON-based-Inventory-Management-System/blob/main/Adding_new_product.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###**Reading records from Inventory:**

In [4]:
import json
fd = open("record.json",'r')
r = fd.read()
fd.close()

record = json.loads(r)

In [5]:
record

{'101': {'name': 'colgate', 'price': 120, 'quantity': 147},
 '102': {'name': 'mazza', 'price': 52, 'quantity': 200},
 '103': {'name': 'dairy milk', 'price': 10, 'quantity': 300},
 '104': {'name': 'bingo', 'price': 5, 'quantity': 450},
 '105': {'name': 'fair lovely', 'price': 74, 'quantity': 150},
 '106': {'name': 'All-out', 'price': 68, 'quantity': 210},
 '107': {'name': 'badam milk', 'price': 25, 'quantity': 180},
 '108': {'name': 'choco cake', 'price': 34, 'quantity': 500},
 '109': {'name': 'kinder joy', 'price': 35, 'quantity': 345},
 '110': {'name': 'gems', 'price': 30, 'quantity': 75}}

###**Adding new Products in inventory:**

In [19]:
prod_id = str(input("Enter product id:"))
name = str(input("Enter name:"))
price = int(input("Enter price:"))
quantity = int(input("Enter quantity:"))

record[prod_id] = {'name': name, 'price': price, 'quantity': quantity}

js = json.dumps(record)

fd = open("record.json",'w')
fd.write(js)
fd.close()

Enter product id:111
Enter name:dark fantasy
Enter price:87
Enter quantity:100

In [20]:
record

{'101': {'name': 'colgate', 'price': 120, 'quantity': 147},
 '102': {'name': 'mazza', 'price': 52, 'quantity': 200},
 '103': {'name': 'dairy milk', 'price': 10, 'quantity': 300},
 '104': {'name': 'bingo', 'price': 5, 'quantity': 450},
 '105': {'name': 'fair lovely', 'price': 74, 'quantity': 150},
 '106': {'name': 'All-out', 'price': 68, 'quantity': 210},
 '107': {'name': 'badam milk', 'price': 25, 'quantity': 180},
 '108': {'name': 'choco cake', 'price': 34, 'quantity': 500},
 '109': {'name': 'kinder joy', 'price': 35, 'quantity': 345},
 '110': {'name': 'gems', 'price': 30, 'quantity': 75},
 '111': {'name': 'dark fantasy', 'price': 87, 'quantity': 100}}